<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--Responsive-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!--CSS Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!--Application CSS-->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  
</head>
<body>

<header th:replace="layout/layout :: header"></header>

 <main class="container mt-3">
 <section>
 	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="#">Home</a></li>
	    <li class="breadcrumb-item"><a href="#">Search</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Organisers</li>
	  </ol>
	</nav>
 </section>
 
 <section>
 	<div class="row" >
 	
	  <div th:each="organiser : ${organisersFound}" class="col-sm-3">
	 	<div  class="card" style="width: 18rem;">
		  <img th:src="@{/img/avatar-organiser.png}" style="width: 50%;" class="card-img-top m-auto mt-3" alt="img-organiser">
		  <div class="card-header mt-2">
		  <h5 class="card-title" th:text="${organiser.name}">.</h5>
		  </div>
		  <div class="card-body">
		    
		      
		    <p class="card-text">
		    	<strong>Email:</strong> <span th:text="${organiser.email}"></span><br>
		    	<strong>Description:</strong> <span th:text="${organiser.description}"></span>
		    	
		    </p>
		    
		    
		    
		  </div>
		</div>
 	  </div>
 	  
	</div>
 </section>
 	
 
 <a th:href="@{/listAllOrganiserCustomer}" class="btn btn-primary mt-4"> <i class="fas fa-angle-double-left" ></i> Return</a>   
  </main>



  <!--Footer-->
  <!-- Site footer -->
  <footer th:replace="layout/layout :: footer" class="site-footer mt-5" id="top-menu"></footer>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>