<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace = "layout/layout :: header"></header>
	
	<h2> </h2>
	<main>
	<div class="container">
	<div class="card" style="width: 40rem;">
	  <div class="card-header">
	    View Link
	  </div>
	  <div class="card-body">
	  	<p>
	  		Link: <span th:text="${ticket.show.enlace}"></span> <br>
	  		Gracias por comprar en ticket Master  <br>
	  	</p>
	  	
	    
	    <a th:href="@{/listAllTicketsCustomer}" class="btn btn-primary"> <i class="fas fa-angle-double-left"></i> Return</a>
	  	
	  </div>
	</div>
	</div>
	</main>
	
	<footer th:replace = "layout/layout :: footer"></footer>
 	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>