<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <!--Responsive-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!--CSS Bootstrap-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/fontawesome.min.css}" rel="stylesheet">
    <link th:href="@{/css/solid.min.css}" rel="stylesheet">
    <!--Application CSS-->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  
</head>
<body>
	
	<header th:fragment ="header">
	<!--navbar1-->
	<div class=" " id="top-menu">
	<nav class="navbar navbar-expand-lg navbar-dark container">
	    <div class="container-fluid">
	        <a class="navbar-brand" href="/">
	            <img src="/img/Logo.png" alt="TicketMaster" width="122" height="57">
	        </a>
	        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	            <span class="navbar-toggler-icon"></span>
	        </button>
	        <div class="menu collapse navbar-collapse d-md-flex justify-content-around" id="navbarSupportedContent">
	
	            <form class="d-flex" th:action="@{/search/customer/shows}" th:object="${showSearch}" method="get" sec:authorize="hasRole('ROLE_CUSTOMER')">
	                <input class="form-control me-2" type="search" th:field="*{name}" placeholder="Search Show" aria-label="Search">
	                <button class="btn btn-light" type="submit">Search</button>
	            </form>
	           <ul class="navbar-nav me-auto mb-2 m-md-0 mb-lg-0">
	               <li class="nav-item" sec:authorize="isAnonymous()">
	                   <a class="nav-link active" aria-current="page" th:href="@{/login}">Sign in</a>
	               </li>
	               
	               <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
	                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	                       <i class="fas fa-user-circle"></i> 
	                       <span sec:authentication="name">Profile</span>
	                    </a>
	                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
	                        <li><a class="dropdown-item" th:href="@{/logout}">Log out</a></li>
	                    </ul>
	                </li>
	           </ul>
	        </div>
	    </div>
	</nav>
	</div>
	<!--navbar2-->
	<nav class="navbar navbar-expand-lg navbar-light bg-warning">
	    <div class="container-fluid">
	        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
	            <span class="navbar-toggler-icon"></span>
	        </button>
	        <div class="collapse navbar-collapse" id="navbarText">
	            <ul class="navbar-nav me-auto m-auto mb-2 mb-lg-0">
	                <li class="nav-item">
	                    <a class="nav-link active" aria-current="page" href="/">Home</a>
	                </li>
	                <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
	                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	                        Data Base
	                    </a>
	                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
	                        <li><a class="dropdown-item" href="/customers">Customers</a></li>
	                        <li><a class="dropdown-item" href="/organisers">Organizers</a></li>
	                        <li><a class="dropdown-item" href="/shows">Shows</a></li>
	                        <li><a class="dropdown-item" href="/tickets">Tickets</a></li>
	                        <li><a class="dropdown-item" href="/feedbacks">Feedbacks</a></li>
	                        <li><hr class="dropdown-divider"></li>
	                        <li><a class="dropdown-item" href="/genders">Genders</a></li>
	                        <li><a class="dropdown-item" href="/countries">Countries</a></li>
	                        <li><a class="dropdown-item" href="/paymentOptions">Payment Options</a></li>
	                        <li><a class="dropdown-item" href="/eventTypes">Event Types</a></li>
	                    </ul>
	                </li>
	                
	                
	                
	                 <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_CUSTOMER')">
	                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	                        Actions
	                    </a>
	                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
	                        <li><a class="dropdown-item" href="/listAllTicketsCustomer">My tickets</a></li>
	                        <li><a class="dropdown-item" href="/listAllFeedbackCustomer">My feedbacks</a></li>
	                        <li><hr class="dropdown-divider"></li>
	                        <li><a class="dropdown-item" href="/listAllOrganiserCustomer">Search Organisers</a></li>
	                        
	                    </ul>
	                </li>
	                <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ORGANISER')">
	                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	                        Backstage
	                    </a>
	                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
	                        <li><a class="dropdown-item" href="/showsOrganiserController">My shows</a></li>
	                        <li><hr class="dropdown-divider"></li>
	                        <li><a class="dropdown-item" href="/listAllFeedbackOrganiser">Feedbacks</a></li>
	                        <li><a class="dropdown-item" href="/listAllTicketsOrganiser">My sales</a></li>
	                    </ul>
	                </li>
	                <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_CUSTOMER')">
	                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	                        Find Shows
	                    </a>
	                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
	                        <li><a class="dropdown-item" href="/listAllShowCustomer">By Name</a></li>
	                        <li><a class="dropdown-item" href="/listAllShowCustomerByEventType">By Type of event</a></li>
	                        <li><a class="dropdown-item" href="/listAllShowCustomerByOrganiser">By Organiser</a></li>
	                    </ul>
	                </li>
	            </ul>
	
	        </div>
	    </div>
	</nav>
	</header>
	
	
	
	
	
	<!--Footer-->
	  <!-- Site footer -->
	  <footer th:fragment="footer" class="site-footer mt-5" id="top-menu">
	    <div class="container">
	      <div class="row" id="AU">
	        <div class="col-sm-12 col-md-6">
	          <h6>About us</h6>
	          <p class="text-justify">Somos Ticketmaster. Una empresa enfocada a la gestión y administración de eventos virtuales. Buscamos que clientes puedan encontrar una versión alternativa de diversión en este periodo de pandemia. Lograremos que varios organisadores tengan la oportunidad de publicar su evento en nuestra plataforma. ¡Regístrate y verás lo que podrás encontrar! </p>
	        </div>
	
	        
	
	        <div class="col-xs-6 col-md-3">
	          <h6>Social Media</h6>
	          <ul class="footer-links">
	            <li><a href="#">Facebook</a></li>
	            <li><a href="#">Instagram</a></li>
	            <li><a href="#">Twitter</a></li>
	            
	          </ul>
	        </div>
	      </div>
	      <hr>
	    </div>
	    <div class="container">
	      <div class="row">
			<div class="col-md-8 col-sm-6 col-xs-12" align="right">
	          <p class="copyright-text"> Copyright &copy; 2021 All Rights Reserved by TicketMaster
	          </p>
	        </div>
	      </div>
	    </div>
	</footer>
	
	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>